<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap = "vendor/autoload.php"
    backupGlobals               = "false"
    verbose="true">

    <testsuites>
        <testsuite name="PHPUnit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">lib/CHZApp</directory>
		</whitelist>
	</filter>
</phpunit>
